@font-face {
    font-family: 'Lato';
    src: url('TheFox/Lato-Bold.woff2') format('woff2'), 
        url('TheFox/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('TheFox/Lato-BoldItalic.woff2') format('woff2'), 
        url('TheFox/Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style:italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('TheFox/Lato-ThinItalic.woff2') format('woff2'), 
        url('TheFox/Lato-ThinItalic.woff') format('woff');
    font-weight: thin;
    font-style:italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('TheFox/Lato-Light.woff2') format('woff2'), 
        url('TheFox/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('TheFox/Lato-Italic.woff2') format('woff2'), 
        url('TheFox/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style:italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('TheFox/Lato-Regular.woff2') format('woff2'), 
        url('TheFox/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('TheFox/Lato-BlackItalic.woff2') format('woff2'), 
        url('TheFox/Lato-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style:italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('TheFox/Lato-Thin.woff2') format('woff2'), 
        url('TheFox/Lato-Thin.woff') format('woff');
    font-weight: 100;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('TheFox/Lato-Black.woff2') format('woff2'), 
        url('TheFox/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style:normal;
    font-display: swap;
}

header {
    background-image: url('TheFox/img/landing_header.jpg');
    height: 940px;
    background-size: cover;
}

.container {
    width: 100%;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    letter-spacing: ;
}

.image {
    display: inline-block;
    margin: 0 150px 0 0;
    vertical-align: middle;
}

.nav-menu {
    padding: 35px 0 25px 0;
    border-bottom: 1px solid #a1b1bc;
}
.menu {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    width: 800px;
    font-family: 'Lato';
    font-style: normal;;
    font-weight: 800;
    vertical-align: middle;
    font-family: verdana, arial, sans-serif;
}

.menu a:hover,
.menu a:active,
.menu a {
    text-decoration: none;
    list-style: none;
    color: #a1b1bc;
}

.menu ul {
    display: inline-block;
}
.menu ul li,
.nav-search {
    display: inline-block;
    margin-right: 30px;
}
.nav-search:last-child {
    margin-right: 0px;
}

.nav-block {
    width: initial;
}

.section-title {
    color: #dad5d5;
    text-align: center;
    font-size: 24px;
    margin: 14% 0 25%;
}

.section-title h1 {
    color: #fff;
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.section-title p {
    margin-bottom: 40px;
}
.button {
    background-color: transparent;
    padding: 15px 35px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 3px;
}

.button.bright-cyan {
    background-color: #29d9c2;
}


.button:hover {
    background-color: #2f3245;
}


.features {
    margin: 90px 20%;
    text-align: center;
    width: 1100px;
}

.features__header {
    width: 800px;
    margin: 30px auto 62px;
}


.line {
    width: 30px;
    height: 1px;
    margin: 15px auto 15px;
    background-color: #1abc9c;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    color: #2c3e50;
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal;
}

.features__title {
    margin-bottom: 15px;
}

.description {
    color: #a1b1bc;
    font-size: 14px;
    line-height: 24px;
}

.features__content {
    margin: 0 auto;
    height: 300px;
    width: 1120px;
    overflow: scroll;
}

.feature {
    display: inline-block;
    width: 320px;
    text-align: left;
    margin: 0 0 50px 41px;
}


.feature-info h3::before {
    content: url('TheFox/img/atom_icon.png');
    vertical-align: top;
    margin-right: 20px;
}

.feature-info h3 {
    font-size: 20px;
    font-weight: 700;
    color: #2c3e50;
}

.feature-info p {
    color: #a1b1bc;
    padding-left: 50px;
}

.support {
    margin-bottom: 90px;
    padding: 90px 0;
    background-color: #f9fafb;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
}

.support-about {
    display: inline-block;
    text-align: left;
    width: 520px;
}

.support-about .line {
    text-align: left;
    margin: 15px 0 15px;
}

.support .support-about span {
    display: block;
    margin-bottom: 30px;
}

.btn-icon-compass {
    margin-right: 10px;
    font-weight: 700;
    vertical-align: middle;
}
.button img {
    margin-left: -5px;
}
.support-img {
    display: inline-block;
    vertical-align: top;
}

.about {
    margin-bottom: 45px;
}

.statistic {
    margin-bottom: 90px;
    padding: 90px 0;
    background-color: #222533;
    color: #ffffff;
}


.statistic-block {
    margin-right: 160px;
    display: inline-block;
    text-align: center;
}

.statistic-block p {
    color: #ffffff;
}

.statistic-block:first-child {
    margin-left: 0px;
}

.statistic-block:last-child {
    margin-right: 0px;
}

.numbers {
    display: block;
    font-size: 36px;
}

.description {
    font-weight: 300;
    color: rgb(161, 177, 188);
}

.white-line {
    width: 30px;
    height: 2px;
    margin: 15px auto 15px;
    background-color: #fff;
}

.statistic__image {
    margin-bottom: 25px;
}

.details {
    background-color: #ff4e50;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 40px 360px;
}
.detail-block {
    padding: 10px 5px 10px 8px;
}
.details__text {
    display: inline;
    font-size: 24px;
    margin-right: 238px;
    text-align: left;
}
.details__btn {
    display: inline;
}

.woo-commerce {
    height: 935px;
    padding: 20px 0;
    overflow: hidden;
}

.woo-text {
    color: #a1b1bc;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-style: normal;
    font-family: Lato;
    width: 42%;
    margin: 0 auto 80px;
}

.woo-text h3 {
    font-weight: 700;
    color: #2c3e50;
    font-size: 16px;
}

.woo-logo {
    margin-bottom: 24px;
}

.woo-img {
    overflow: hidden;
    height: 640px;
}


.wow-img-wrapper {
    display: none;
}





.layout-info {
    background-color: #222533;
    text-align: center;
    padding: 3.5% 0;
}

.white {
    color: #fff;
}
.layout {
    height: 100%;
    width: 100%;
}
.layout-info__block {
    margin: 0 auto;
    text-align: center;
    width: 43%;
}

.layout-pages {
    background-image: url('TheFox/img/layouts.jpg');
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: 0% 0%;
    padding: 40px 100px;
}

.pages {
    margin: 36px auto;
    width: 80%;
}

.page {
    display: inline-block;
    width: 310px;
    margin: 0 0 69px 0px;
    text-align: center;
    font-weight: 700;
}

.page h2 {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.layout-image {
    margin-bottom: 29px;
}

.stunning-demo {
    padding: 30px 0;
    margin: 50px 0;
}

.stunning-demo__text {
    width: 800px;
    margin: 0 auto 70px;
}

.stunning-demo__pages {
    overflow: auto;
    height: 800px;
    width: 1300px;
    margin: 0 auto;
}

.stunning-demo__page {
    display: inline-block;
    margin: 0 0 50px 30px;
}

.stunning-demo__page h3 {
    color: #2c3e50;
    font-size: 20px;
    font-weight: 700;
}

.stunning-demo__page img {
    margin-bottom: 30px;
}


.null-style-links,
.null-style-links:hover,
.null-style-links:active {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

.purple {
    background-color: #4e459a;
}

.blue {    
    background-color: #63d8ff;
}

.green {
    background-color: #acd373;
}

.color-blocks {
    padding: 0;
    width: 100%;
    text-align: left;
    max-width: 1800px;
    min-width: 300px;
    max-height: 400px;
    overflow: auto;
}

.color-block h3 {
    font-size: 15px;
    margin-bottom: 15px;
}

.color-block p {
    font-size: 15px;
    margin-bottom: 23px;
}

.color-block button {
    font-weight: 700;
    margin: 0;
}


.color-block {
    display: inline-block;
    text-align: left;
    padding: 75px;
    max-width: 600px;
    min-width: 200px;
    min-height: 100px;
    margin: 0 0 0 -4px;
    vertical-align: top;
}

.links {
    background-color: #222533;
    color: #a1b1bc;
    padding: 80px;
    height: 100%;
    width: 100%;
    min-height: 100px;
}

.links ul li::before {
    content: url('TheFox/img/cubic_li.jpg');
    margin-right: 14px;
}

.links ul li {
    display: inline-block;
    margin-bottom: 13px;
    margin-right: 145px;
}

.links ul {
    width: 65%;
    margin: 0 auto 0;
    min-width: 600px;
}

.links a,
.links a:hover,
.links a:active {
    text-decoration: none;
    list-style: none;
    color: #a1b1bc;
}


.footer {
    background-color: #1a1c27;
    width: 100%;
    height: 100%;
    color: #a1b1bc;
    padding: 35px;
}
.source {
    text-align: left;
}

.footer__info {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
}

.footer__copyright {
    display: inline-block;
    text-align: left;
    margin-right: 500px;
}

.social-links {
    display: inline-block;
    text-align: right;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}